body {
  box-sizing: border-box;
  margin: 0;
}

#header {
  width: 300px;
  height: 100px;
  background-color: blue;
  margin: 0 auto;
}

#footer {
  width: 300px;
  height: 100px;
  background-color: black;
  margin: 0 auto;
}

.important {
  width: 300px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}

.interesting {
  width: 300px;
  height: 100px;
  background-color: green;
  margin: 0 auto;
}

.surprising {
  width: 300px;
  height: 100px;
  background-color: orange;
  margin: 0 auto;
}

.important:hover,
.interesting:hover,
.surprising:hover {
  height: 200px;
}
